<p>compila tutti i campi per modificare il memo</p>
<form #updatedTodoForm ="ngForm" (submit) = "completeTodoForm(updatedTodoForm)">
    <div>
        <label> Aggiungi testo: </label> 
    <input type = "text" name = "campoTesto" #refTesto = "ngModel" [ngModel] = "updatedTodo?.text" required />
    </div>
    <div>
        <label> creato il: </label> 
    <input type = "date" name = "campoCreatoIl" #refCreatoIl = "ngModel" [ngModel] = "updatedTodo?.state" required />
    </div>
    <div>
        <label> da fare entro: </label> 
    <input type = "date" name = "campoDueTo" #refDueTo = "ngModel" [ngModel] = "updatedTodo?.createdAt" required />
    </div>
    <div>
        <label> stato: </label>
        <select name = "campoStato" #refStato = "ngModel" [ngModel] = "updatedTodo?.state" required >
            <option value="TODO">TODO</option>
            <option value="IN_PROGRESS">IN_PROGRESS</option>
            <option value="DONE">DONE</option>
        </select>
    </div>

    <div>
        <input type="submit" value="SAVE">
    </div>

</form>