<form #newTodoForm ="ngForm" (submit) = "completeTodoForm(newTodoForm)" style="font-family:Arial, Helvetica, sans-serif">
    <div>
        <label> Aggiungi testo: </label> 
    <input type = "text" name = "campoTesto" #refTesto = "ngModel" [ngModel] = "newTodo?.text" required />
    </div>
    <div>
        <label> creato il: </label> 
    <input type = "date" name = "campoCreatoIl" #refCreatoIl = "ngModel" [ngModel] = "newTodo?.createdAt" required />
    </div>
    <div>
        <label> da fare entro: </label> 
    <input type = "date" name = "campoDueTo" #refDueTo = "ngModel" [ngModel] = "newTodo?.dueTo" required />
    </div>
    <div>
        <label> stato: </label>
    <select name = "campoStato" #refStato = "ngModel" [ngModel] = "newTodo?.state" required >
        <option value="TODO">TODO</option>
        <option value="IN_PROGRESS">IN_PROGRESS</option>
        <option value="DONE">DONE</option>
    </select>
    </div>

    <div>
        <input type="submit" value="SAVE">
        <small class="error-msg" *ngIf="incorrectForm">compila tutti i campi obbligatori</small>
    </div>

</form>